name: repick_mobile
description: "π μ§€μ†κ°€λ¥ν• ν¨μ…λ¬Έν™”, Repick π"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6
  go_router: ^13.2.0
  flutter_riverpod: ^2.4.10
  shared_preferences: 2.2.2
  flutter_secure_storage: 9.0.0
  retrofit: 4.1.0
  google_fonts: ^6.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/
